* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  
}

.container{
  display: flex;
  justify-content: center;

}

canvas{
  max-width: 100vw;
  max-height: 100vh;
}

.score{

  position: fixed;
   color: white;
   font-size: 30px;
   user-select: none;
}